* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}
